<div>
    <h3>Reviews:</h3>
    <h4>Add a review</h4>
    <!--  Review Form -->
    <form name="reviewForm"
          ng-controller="ReviewController as reviews"
          ng-submit="reviewForm.$valid && reviews.addReview(product)"
          novalidate>

        <!--User review post product rating-->
        <fieldset class="form-group">
            <select class="form-control"
                    ng-options="stars for stars in [5,4,3,2,1]"
                    ng-model="reviews.review.stars"
                    title="Stars"
                    required>
                <option value="">Rate the Product</option>
            </select>
        </fieldset>

        <!--User review post text-->
        <fieldset class="form-group">
                            <textarea class="form-control"
                                      placeholder="Write a short review of the product..."
                                      ng-model="reviews.review.body"
                                      title="Review"
                                      required></textarea>
        </fieldset>

        <!--User email for review post-->
        <fieldset class="form-group">
            <input type="email"
                   class="form-control"
                   ng-model="reviews.review.author"
                   placeholder="jimmyDean@example.org"
                   title="Email"
                   required/>
        </fieldset>


        <!--  Live Preview -->
        <blockquote>
            <strong>{{reviews.review.stars}} Stars</strong>
            <p>{{reviews.review.body}}</p>
            <cite class="clearfix">—{{reviews.review.author}}</cite>
        </blockquote>

        <!-- isFormValid test -->
        <!--<div>reviewForm is {{reviewForm.$valid}}</div>-->

        <!--Submit button for the form-->
        <fieldset class="form-group">
            <input type="submit"
                   class="btn btn-primary"
                   value="Submit Review"/>
        </fieldset>
    </form>

    <h4>Read reviews</h4>
    <ul>
        <li ng-repeat="review in product.reviews">
            <blockquote>
                <strong>{{review.stars}} Stars</strong> {{review.body}}
                <cite class="clearfix">—{{review.author}} on {{review.creationDate | date}}</cite>
            </blockquote>
        </li>
    </ul>
</div>