h1 {
    font-weight: bold;
}

form > * {
    display: block;
    margin: 5px 0 5px 0;
}

form > label {
    display: inline;
}

label + input {
    display: inline;
}

label + select {
    display: inline;
}

ul {
    list-style: none;
}